*~
*sqlite3
*.pyc
config/
logging/
logs/
*.mo
*.db
*.mo
test.rc
*.bak
.sass-cache/
htmlfield/
fabric_settings*
.idea/
*.swp
env/
*.map
site_media*
locust/
deps/
git_version
.vscode
.DS_Store
openshift/**/secrets*.y*ml